body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.teamLogo {
  background-position: center;
  background-size: contain;
}
.CSKLogo {
  background-image: url("/src/static/team_logo/CSK.png");
}
.MILogo {
  background-image: url("/src/static/team_logo/MI.png");
}
.LSGLogo {
  background-image: url("/src/static/team_logo/LSG.png");
}
